:root {
    --family: 'Plus Jakarta Sans', sans-serif;
    /*Primary*/
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);
    /*Neutral*/
    --White: hsl(0, 0%, 100%);
    --Very_light_grayish_blue: hsl(210, 60%, 98%);
    --Light_grayish_blue_1: hsl(211, 68%, 94%);
    --Light_grayish_blue_2: hsl(205, 33%, 90%);
    --Grayish_blue: hsl(219, 14%, 63%);
    --Dark_grayish_blue: hsl(219, 12%, 42%);
    --Very_dark_blue: hsl(224, 21%, 14%);
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--family);
    box-sizing: border-box;
}

body , html {
    height: 100vh;
    width: 100vw;
}

body {
    overflow-x: hidden;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Very_light_grayish_blue);
}

main {
    max-width: 600px;
    background-color: var(--White);
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.062);
    border-radius: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 1.5em;
    display: inline-block;
    margin-right: 10px;
    color: var(--Very_dark_blue);
}

p {
    display: inline-block;
    margin-left: 10px;
    font-size: .9em;
}

img {
    width: 30px;
    height: 30px;
}

img:hover {
    cursor: pointer;
}

.counter {
    display: inline-block;
    background-color: var(--Blue);
    color: var(--White);
    border-radius: 20%;
    width: 30px;
    text-align: center;
    font-weight: 800;
}

.markAll {
    align-self: center;
    font-weight: 500;
}

.markAll:hover {
    color: var(--Blue);
    cursor: pointer; 
}

.notifications {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notVisualized {
    background-color: var(--Light_grayish_blue_2);
}

.pointRed {
    display: inline-flex;
    background-color: var(--Red);
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.name {
    font-weight: 800;
    color: var(--Very_dark_blue);
}

.post {
    color: var(--Dark_grayish_blue);
    font-weight: 800;
}

.club {
    color: var(--Blue);
    font-weight: 800;
}

.post:hover, .name:hover, .club:hover {
    cursor: pointer;
    color: var(--Blue);
}

.time {
    color: var(--Grayish_blue);
}

.message {
    display: flex;
    padding: 10px;
    border-radius: 10px;
}

.rizky {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rizky > div {
    display: flex;
}

.rizky .text {
    border: 1px solid var(--Light_grayish_blue_2);
    max-width: 80%;
    margin-left: 3em;
    text-align: left;
    padding: 10px;
}

.rizky .text:hover {
    background-color: var(--Light_grayish_blue_2);
    border-radius: 8px;
    cursor: pointer;
}

.kimberly {
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    body{
        display: block;
    }

    main {
        height: 100vh;
    }
}

@media screen and (max-width: 400px) {
    body {
        font-size: .8rem;
    }

    main {
        height: auto;
    }
}













